.end-section {
  padding-top: 220px;
  margin-top: 50px;
  padding-bottom: 230px;
  background-image: url("../img/footer-watch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.end-inner {
  width: 420px;
  margin-left: auto; 
}

.end-btn {
  margin-top: 43px;
  width: 180px;
  height: 38px;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #EA625C;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}
.end-text {
  width: 415px;
  border-left: 2px solid #fff5f5;
  padding-left: 34px;
  color: #fff;
}
.end-heading {
  font-size: 45px;
  width: 400px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
